<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="RunTimeLevel" value="Test" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="CustomerMaster.Url" value="http://fulcrum-bootcamp-group1-customermaster.azurewebsites.net" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="UserStatistics.Url" value="http://fulcrum-bootcamp-group1-userstatistics.azurewebsites.net" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="VisualNotification.Url" value="http://fulcrum-bootcamp-group1-philipshue.azurewebsites.net" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  </appSettings>
</configuration>